.Registration {
    padding: 20px;
    padding-bottom: 60px;
    max-width: 50%;
    margin: auto;
    background-color: #ece8df;
    border: 1px solid #dad2be;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    .Registration {
        max-width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .Registration {
        max-width: 100%;
        margin-bottom: 50px;
    }
}