.Registration {
    width: 70%;
    padding: 40px;
    padding-bottom: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ece8df;
    border: 1px solid #dad2be;
    border-radius: 5px;
}
