.Login {
    padding: 20px;
    padding-bottom: 60px;
    max-width: 50%;
    margin: auto;
    background-color: #ece8df;
    border: 1px solid #dad2be;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
}

.Text {
    padding: 10px;
    text-align: center;
    font-size: small;
}

.Text-link a {
    font-weight: bold;
    color: grey;
}

.Text-link a:hover{
    color: rgb(155, 24, 28);
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .Login {
        max-width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .Login {
        max-width: 100%;
    }
}
