.Image {
    margin-top: 70px;
}

.Image-brand {
    width: 135px;
    margin-right: 50px;
    margin-left: 50px;
}

.Paragraph-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.Image-salon {
    margin-top: -45px;
    margin-left: 20px;
    width: 500px;
    float: right;
    border: 1px solid #525252;
    border-radius: 3px;
}

.Image-haircut{
    margin-right: 20px;
    width: 350px;
    float: left;
    border: 1px solid #525252;
    border-radius: 3px;
}

.Text-home {
    margin-top: 30px;
}
