/*.NavItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: small;
    color: black;
}*/

.NavItem a {
    color: black;
    font-size: small;
    text-decoration: none;
    height: 100%;
    padding: 10px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: flex;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    background-color: rgba(174, 132, 48, 0.56);
    border-bottom: 4px solid rgba(156, 26, 16, 0.71);
    color: white;
}