@import url('https://fonts.googleapis.com/css?family=Prata');

.Toolbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 4;
    font-family: 'Prata', serif;
}

.toolbar {
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid white;
    font-family: 'Prata', serif;
    padding: 0 16px !important;
}

.NavItem a {
    color: #eeeeee !important;
    text-decoration: none;
    height: 100%;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 15px;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    background-color: #E6E1D4;
    border-bottom: 4px solid rgb(155, 24, 28);
    color: #000000 !important;
}

