@import url('https://fonts.googleapis.com/css?family=Prata');

.Toolbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 4;
    font-family: 'Prata', serif;
}
