.Logo1 {
    background-color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    box-sizing: border-box;
}

.Logo1 img {
    height: 100%;
}


.Logo {
    width: 200px;
    margin-left: 20px;
}
