.ImageHair {
    margin-top: 60px;
}

.Image-brand {
    width: 90px;
    margin-right: 25px;
    margin-left: 25px;
}

.Paragraph-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.Image-salon {
    margin-top: 40px;
}

.Content-space {
    margin-top: 20px;
}