.Button {
    background-color: #b99847;
    border: 1px solid #c6b535;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 4px;
    float: right;
    font-size: small;

}

.Button:first-of-type {
    margin-left: 10px;
    padding-left: 10px;
}

.Success {
    color: white;
}

.Danger {
    color: #944317;
}