.Input {
    outline: grey;
    background-color: #f6f4ef;
    border: 1px solid rgba(178, 178, 178, 0.35);
    border-radius: .25rem;
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: .375rem .75rem;
    margin: 8px 0;
    font-size: 1rem;
    background-clip: padding-box;
}

.Label {
    font-weight: inherit;
    display: block;
    margin-bottom: 2px;
    margin-top: 8px;
}

.Input:focus {
    outline: 1px solid #b01c21;
}