.Input {
    outline: none;
    background-color: white;
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
}
