.Header {
    text-align: center;
    color: rgba(41, 41, 41, 0.81);
    padding-top: 120px;
    padding-bottom: 50px;
    font-style: normal;
}

@media(max-width: 600px) {
    .Header {
        padding-top: 80px;
        padding-bottom: 20px;
    }
}