.Login {
    width: 100%;
    padding: 50px;
    background-color: #ece8df;
    border: 1px solid #dad2be;
    border-radius: 5px;
}

.Text {
    padding: 10px;
    text-align: center;
    font-size: small;
}