.Login {
    width: 100%;
}

.Name {
    text-align: center;
    color: rgba(41, 41, 41, 0.81);
    padding-bottom: 20px;
    font-style: normal;
}

.Text {
    padding: 10px;
    text-align: center;
    font-size: x-small;
}