.ImageHair {
    margin-top: 50px;
}

.Image-brand {
    max-height: 3rem;
    max-width: 100%;
    margin: 0 25px;
}

.Paragraph-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.Image-salon {
    margin-top: 40px;
}

.Image-haircut {
    margin-top: 10px;
}

.Content-space {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .Image-brand {
        max-height: 1.5rem;
    }

    .Image-salon {
        margin-top: 0;
    }

    .Image-haircut {
        margin-bottom: 20px;
    }
}